<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      ListMarket
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ListMarket</ion-title>
  
    </ion-toolbar>
  </ion-header>
  <br>
  <ion-card-title>Crear lista </ion-card-title>
  <div id="container">
    <ion-list>
      <ion-item *ngFor="let p of productos">
        <ion-thumbnail slot="start">
          <ion-img [src]="p.imageURL"></ion-img>
        </ion-thumbnail>
        <ion-label >
          {{p.title}}
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
